@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comer ou levar</title>
    <link rel="stylesheet" href="~/css/RevisarPedido.css">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="c1">
            <div class="content">
                <div class="conteiner">
                    <a class="title">Revise seu pedido</a>
                    <div class="divcupom">
                          <a class="cupom" id="cupom" href="@Url.Action("Cupons", "Home")" style="margin: 0 10px;">Cupom</a>
                    </div>
                    <div class="opcao-grid">

                        
                        <div class="C1" onclick="window.location.href='@Url.Action("Tela2", "Home")'"> 
                        </div>
                        <div class="C2" onclick="window.location.href='@Url.Action("Tela2", "Home")'">
        
                        </div>
                        <div class="C3" onclick="window.location.href='@Url.Action("Tela2", "Home")'">
                 
                        </div>
                        <div class="C4" onclick="window.location.href='@Url.Action("Tela2", "Home")'">
                  
                        </div>
                        <div class="C5" onclick="window.location.href='@Url.Action("Tela2", "Home")'">
    
                        </div>
                        <div class="C6" onclick="window.location.href='@Url.Action("Tela2", "Home")'">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ConteinerBtn">
            <div class="total-revisao-container">
                <span class="total-revisao-label">Total:</span>
                <span class="total-revisao-preco" id="totalRevisaoPreco">R$ 0,00</span>
            </div>
             <div class="NavBtn">
        <a id="cancelar" href="@Url.Action("tela2", "Home")">Voltar</a>
  
        <a id="prosseguir" href="@Url.Action("TeladePagamento", "Home")">Tudo certo!</a>
             </div>
        </div>
    </div>

    <script src="~/js/RevisarPedido.js"></script>
</body>
</html>